body {
    font-family: 'Raleway', sans-serif;
}

dt {
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 5px;
}

.panel {
    border:0 ;
    box-shadow: none;
}

.img-responsive {
	margin: auto 0;
}
